@model int
<div class="btn-group">
    <a asp-action="Edit" asp-route-id="@Model" title="Editar" class="btn btn-info btn-sm text-white"><i class="fa fa-pencil"></i></a>
    <a asp-action="Delete" asp-route-id="@Model" title="Eliminar" class="btn btn-danger btn-sm text-white"><i class="fa fa-trash"></i></a>
</div>